<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Encontra CEP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="cepNumber" (keyup)="eventHandler($event)">
        <div slot="label">CEP <ion-text color="danger">(Necessário)</ion-text></div>
      </ion-input>
    </ion-item>
  </ion-list>

  <div *ngIf="showTable">
    <ion-grid>
      <ion-row>
        <ion-col>CEP:</ion-col>
        <ion-col>{{cepInfo.cep}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Rua:</ion-col>
        <ion-col>{{cepInfo.logradouro}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Bairro:</ion-col>
        <ion-col>{{cepInfo.bairro}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Cidade:</ion-col>
        <ion-col>{{cepInfo.localidade}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>UF:</ion-col>
        <ion-col>{{cepInfo.uf}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
